body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 25px;
    padding: 15px;

}
#title {
    text-align: center;
    background-color: skyblue;
}
#img {
    margin-left: 250px;

}
blockquote {
    text-align: center;
    
}
.wrapper {
    background-color: grey;
    width: 300px;
    height: 200px;
    padding: 5px;
    margin-left: 350px;
    
}
#input {
    margin-top: 10px;

}
.input {
    margin-bottom: 5px;
}